# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Apple's Dominance

## Product Timeline

In [11]:
data = pd.read_csv("apple_products.csv")
data.head()

         Released              Model           Family        Discontinued
0  April 11, 1976            Apple I          Apple I  September 30, 1977
1    June 1, 1977           Apple II         Apple II         May 1, 1979
2    June 1, 1978            Disk II           Drives         May 1, 1984
3    June 1, 1979      Apple II Plus  Apple II series    December 1, 1982
4    June 1, 1979  Apple II EuroPlus  Apple II series    December 1, 1982

Null values are denoted by `[?]` in the dataset. We will replace them with `NaN` values.

In [6]:
def replace_to_none(x):
    if x=="[?]":
        return None
    return x

In [12]:
data["Discontinued"] = data["Discontinued"].apply(replace_to_none)
data["Released"] = data["Released"].apply(replace_to_none)

In [13]:
data.isnull().sum()

Released         0
Model            0
Family           0
Discontinued    46
dtype: int64

In [14]:
data.dropna(inplace=True)
data.isnull().sum()

Released        0
Model           0
Family          0
Discontinued    0
dtype: int64

In [15]:
data.to_csv("apple_products_cleaned.csv", index=False)